<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANWH2SAqCvXiOn5VMC9UISe0PgDYZj6Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>946952783596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cuseFoodShareApp</string>
	<key>PROJECT_ID</key>
	<string>cusefoodshareapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cusefoodshareapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946952783596:ios:f87a657469da9551e447c9</string>
</dict>
</plist>